.todoForm {
  display: flex;
  width: 80%;
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.todoInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #3c3c3c;
  font-size: 16px;
  color: #ccc;
  border: 1px solid transparent;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

.todoInput:focus {
  border: 1px solid #66bb6a;
  outline: none;
  background-color: #444;
}

.todoButton {
  background-color: #66bb6a;
  border: none;
  color: white;
  width: 163px;
  height: 43px;
  margin-left: 14px;
  align-self: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.todoButton:hover {
  background-color: #81c784;
}
